* {
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    background-color: rgb(27, 27, 27);
}

header {
    flex-direction: column;
    display: flex;
    margin:4em;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}
.inputArea{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
    font-size: 2.3em;
    text-align: center;
}
.inputArea input{
    box-shadow: 2px 2px 10px 3px grey;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 1em;
    height: auto;
}
#timerArea {
    margin:5vh auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}
#Start{
    margin-top: 1em;
    font-size: 1em;
}

.time {
    color: red;
    font-size:15vw;
}

.timer {
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px red;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}